
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 py-0">
    <div class="container-fluid">
        <a class="navbar-brand p-0 d-flex align-items-center" href="">
            <img src="FMAssManLogo.png" width="50" height="50" class="d-inline-block me-2" alt="">
            FM AssMan
        </a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" style="flex-grow: 0;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill me-2" aria-hidden="true"></span>Roster
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="in-possession">
                        <span class="bi bi-grid-3x3-gap-fill me-2" aria-hidden="true"></span> In Possession
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="out-possession">
                        <span class="bi bi-shield-shaded me-2" aria-hidden="true"></span> Out Possession
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="goalkeepers">
                        <span class="bi bi-person-arms-up me-2" aria-hidden="true"></span> Goalkeepers
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="role-analysis">
                        <span class="bi bi-diagram-2-fill me-2" aria-hidden="true"></span> Role Pairs
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="tag-assignments">
                        <span class="bi bi-grid-3x3 me-2" aria-hidden="true"></span> Player Tags
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="upload">
                        <span class="bi bi-cloud-upload me-2" aria-hidden="true"></span> Player Upload
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="tactics">
                        <span class="bi bi-clipboard-data me-2" aria-hidden="true"></span> Tactics
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="tags">
                        <span class="bi bi-tags-fill me-2" aria-hidden="true"></span> Tags
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="role-editor">
                        <span class="bi bi-gear-fill me-2" aria-hidden="true"></span> Roles
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="admin/positions">
                        <span class="bi bi-geo-alt-fill me-2" aria-hidden="true"></span> Positions
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="miro-board">
                        <span class="bi bi-window-fullscreen me-2" aria-hidden="true"></span> Miro
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
