.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Highlight the active link in the navbar */
.nav-link.active {
    color: #fff !important;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}