<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </Authorized>
        <NotAuthorized>
            <div class="d-flex flex-column align-items-center justify-content-center vh-100 bg-dark">
                <img src="FMAssManTitleLogo.png" alt="FM AssMan" class="img-fluid mb-5" style="max-height: 70vh; max-width: 90vw;" />
                <a href="login" class="btn btn-primary btn-lg px-5">Log In with Microsoft</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
